<div class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Type to search for a photo on unsplash</h1>
      <app-search (results)="displayResults( $event )"></app-search>
    </div>
  </div>
</div>

<app-card-list *ngIf="results.length > 0 && loaded === true" [results]="results"></app-card-list>

<div class="container" *ngIf="results.length === 0 && loaded === true">
  <div class="columns is-centered">
      <div class="column">
        <br>
        <br>
        <h2  class="title">
          No results found.
        </h2>
      </div>
  </div>
</div>
